articles/deep_research/Enterprise_Deep_Research-Steerable_MultiAgent_Deep_Research_for_Enterprise_Analytics_Prabhakar_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/reasoning_agents/Unlocking_the_Power_of_Multi-Agent_LLM_for_Reasoning-from_Lazy_Agents_to_Deliberation_Zhang_2025.pdf filter=lfs diff=lfs merge=lfs -text
books/AI_Design_Patterns_A_Beginners_Guide-Gulli_2025.pdf filter=lfs diff=lfs merge=lfs -text
docs/AI_Design_Patterns_A_Beginners_Guide-Gulli_Extended_2025.docx filter=lfs diff=lfs merge=lfs -text
docs/Agentic_Workflows_with_Google_ADK_whitepapers filter=lfs diff=lfs merge=lfs -text
docs/Agentic_Workflows_with_Google_ADK_whitepapers/Agentic_Workflows_with_Google_ADK_Agent_Quality_Whitepaper_Nov15_2025.pdf filter=lfs diff=lfs merge=lfs -text
docs/Agentic_Workflows_with_Google_ADK_whitepapers/Agentic_Workflows_with_Google_ADK_Agent_Tools_and_Interoperability_with_MCP_Whitepaper_Nov15_2025.pdf filter=lfs diff=lfs merge=lfs -text
docs/Agentic_Workflows_with_Google_ADK_whitepapers/Agentic_Workflows_with_Google_ADK_Context_Engineering_Sessions_Memory_Whitepaper_Nov15_2025.pdf filter=lfs diff=lfs merge=lfs -text
docs/Agentic_Workflows_with_Google_ADK_whitepapers/Agentic_Workflows_with_Google_ADK_Introduction_to_Agents_Whitepaper_Nov15_2025.pdf filter=lfs diff=lfs merge=lfs -text
docs/Agentic_Workflows_with_Google_ADK_whitepapers/Agentic_Workflows_with_Google_ADK_Prototype_to_Production_Whitepaper_Nov15_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/task-decomposition/Solving_a_Million-Step_LLM_Task_with_Zero_Errors_Meyreson_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/evolving_agents/Agent0-Unleashing_Self-Evolving_Agents_from_Zero_Data_via_Tool-Integrated_Reasoning_Xia_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/scaling_agents/Towards_a_Science_of_Scaling_Agent_Systems_Kim_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/adaptation/Adaptation_of_Agentic_AI_Jiang_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/memory_in_agentic_systems/Memory_in_the_Age_of_AI_Agents-A_Survey_Hu_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/future_directions/Sophia-A_Persistent_Agent_Framework_of_Artificial_Life_Sun_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/one_tool/One_Tool_Is_Enough-Reinforcement_Learning_for_Repository-Level_LLM_Agents_Zhang_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/future_directions/Accelerating_Scientific_Discovery_with_Autonomous_Goal-evolving_Agents_Du_2025.pdf filter=lfs diff=lfs merge=lfs -text
books/Agents_in_the_Long_Game_of_AI_McShane_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/reinforcement_learning/Neuronlike_adaptive_elements_that_can_solve_difficult_learning_control_problems_Barto1983.pdf filter=lfs diff=lfs merge=lfs -text
articles/reinforcement_learning/NIPS-1999-actor-critic-algorithms-Paper.pdf filter=lfs diff=lfs merge=lfs -text
articles/reinforcement_learning/Survey_of_Actor-Critic_Reinforcement_Learning-Standard_and_Natural_Policy_Gradients_Grondman_2012.pdf filter=lfs diff=lfs merge=lfs -text
articles/reasoning_agents/The_Illusion_of_Insight_in_Reasoning_Models_dAlberti_2026.pdf filter=lfs diff=lfs merge=lfs -text
articles/reinforcement_learning/High-Dimensional_Continuous_Control_Using_Generalized_Advantage_Estimation_Shulman_2015.pdf filter=lfs diff=lfs merge=lfs -text
articles/reinforcement_learning/NIPS-1999-policy-gradient-methods-for-reinforcement-learning-with-function-approximation-Paper.pdf filter=lfs diff=lfs merge=lfs -text
articles/reinforcement_learning/NaturalActorCritic_Peters_2005.pdf filter=lfs diff=lfs merge=lfs -text
articles/agent_drift/Learning_under_Concept_Drift-A_Review_Lu_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles/agent_drift/Dynamics_of_Agentic_Loops_in_Large_Language_Models-A_Geometric_Theory_of_Trajectories_Tacheny_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/evolving_agents/Dr_Zero-Self-Evolving_Search_Agents_without_Training_Data_Yue_2026.pdf filter=lfs diff=lfs merge=lfs -text
articles/reasoning_agents/Agentic_Reasoning_for_Large_Language_Models_Wei_2026.pdf filter=lfs diff=lfs merge=lfs -text
articles/hypergraphs/Higher-Order_Knowledge_Representations_for_Agentic_Scientific_Reasoning_Stewart_2026.pdf filter=lfs diff=lfs merge=lfs -text
articles/latent_colaboration_mas/Latent_Collaboration_in_Multi-Agent_Systems_Zou_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/evaluation/Tracking_the_Limits_of_Knowledge_Propagation-How_LLMs_Fail_at_Multi-Step_Reasoning_with_Conflicting_Knowledge_Feng_2026.pdf filter=lfs diff=lfs merge=lfs -text
articles/evaluation/Unraveling_Misinformation_Propagation_in_LLM_Reasoning_Feng_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/evaluation/Untangle_the_Knot-Interweaving_Conflicting_Knowledge_and_Reasoning_Skills_in_Large_Language_Models_Liu_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/potential_function_in_LLM_agents/Detailed_balance_in_large_language_model-driven_agents_Song_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/context_engineering/Agentic_Context_Engineering-Evolving_Contexts_for_Self-Improving_Language_Models_Zhang_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/memory_in_agentic_systems/Beyond_RAG_for_Agent_Memory-Retrieval_by_Decoupling_and_Aggregation_Hu_2026.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/A_Behavioral_Model_of_Rational_Choice_Simon_1957.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Bratman_Intentions_Plans_and_Practical_Reason_1987.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Intention_Plans_and_Practical_Reason_Bratman_1999.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Mindscapes_Philosophy_Science_and_the_Mind_Martin_Carrier_1997.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Integrated_Control_and_Coordinated_Behaviour-A_Case_for_Agent_Models_Ferguson_1995.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Intelligent_planning_A_decomposition_and_abstraction_based_approach_to_classical_planning_Rao_Georgeff_ICMAS_1995.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Belief_States_for_Cooperative_Multi-Agent_Reinforcement_Learning_under_Partial_Observability_Pritz_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/agent_behaviors_and_the_BDI_model_Khamis_2020_slides.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Classification_and_Clustering_BFTA2019_Thierry_Denceux_Lecture3.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Intro_to_Belief_Functions_BFTA2019_Thierry_Denceux_Lecture1.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Methods_for_Building_Belief_Functions_BFTA2019_Thierry_Denceux_Lecture2.pdf filter=lfs diff=lfs merge=lfs -text
