articles/deep_research/Enterprise_Deep_Research-Steerable_MultiAgent_Deep_Research_for_Enterprise_Analytics_Prabhakar_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/reasoning_agents/Unlocking_the_Power_of_Multi-Agent_LLM_for_Reasoning-from_Lazy_Agents_to_Deliberation_Zhang_2025.pdf filter=lfs diff=lfs merge=lfs -text
books/AI_Design_Patterns_A_Beginners_Guide-Gulli_2025.pdf filter=lfs diff=lfs merge=lfs -text
docs/AI_Design_Patterns_A_Beginners_Guide-Gulli_Extended_2025.docx filter=lfs diff=lfs merge=lfs -text
docs/Agentic_Workflows_with_Google_ADK_whitepapers filter=lfs diff=lfs merge=lfs -text
docs/Agentic_Workflows_with_Google_ADK_whitepapers/Agentic_Workflows_with_Google_ADK_Agent_Quality_Whitepaper_Nov15_2025.pdf filter=lfs diff=lfs merge=lfs -text
docs/Agentic_Workflows_with_Google_ADK_whitepapers/Agentic_Workflows_with_Google_ADK_Agent_Tools_and_Interoperability_with_MCP_Whitepaper_Nov15_2025.pdf filter=lfs diff=lfs merge=lfs -text
docs/Agentic_Workflows_with_Google_ADK_whitepapers/Agentic_Workflows_with_Google_ADK_Context_Engineering_Sessions_Memory_Whitepaper_Nov15_2025.pdf filter=lfs diff=lfs merge=lfs -text
docs/Agentic_Workflows_with_Google_ADK_whitepapers/Agentic_Workflows_with_Google_ADK_Introduction_to_Agents_Whitepaper_Nov15_2025.pdf filter=lfs diff=lfs merge=lfs -text
docs/Agentic_Workflows_with_Google_ADK_whitepapers/Agentic_Workflows_with_Google_ADK_Prototype_to_Production_Whitepaper_Nov15_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/task-decomposition/Solving_a_Million-Step_LLM_Task_with_Zero_Errors_Meyreson_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/evolving_agents/Agent0-Unleashing_Self-Evolving_Agents_from_Zero_Data_via_Tool-Integrated_Reasoning_Xia_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/scaling_agents/Towards_a_Science_of_Scaling_Agent_Systems_Kim_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/adaptation/Adaptation_of_Agentic_AI_Jiang_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/memory_in_agentic_systems/Memory_in_the_Age_of_AI_Agents-A_Survey_Hu_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/future_directions/Sophia-A_Persistent_Agent_Framework_of_Artificial_Life_Sun_2025.pdf filter=lfs diff=lfs merge=lfs -text
